[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = thedoritos
	email = thedoritos@gmail.com
[core]
	excludesfile = /Users/thedoritos/.gitignore
[color]
	ui = auto
[alias]
        delete-branches = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; };f"
